.container {
  display: flex;
  flex-direction: column;
  float: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: 500px;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  max-width: auto;
  margin-left: auto;
  float: center;
  padding-top: 10rem;
}

.searchBar {
  width: 600px;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.categoryBox {
  background-color: aliceblue;
  display: flex;
  justify-content: last baseline;
  border: 5px solid #111d4a;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  gap: 10px;
}

.categoryName {
  font-size: 18px;
  font-weight: bold;
}

.totalItems {
  margin-top: 50px;
  color: #555;
}

.button {
  display: inline-block;
  padding: 1.5rem 3rem;
  border: 0.2rem solid #111d4a;
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
