.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 500px;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
}

.categoryBox {
  background-color: aliceblue;
  display: flex;
  justify-content: last baseline;
  border: 5px solid #111d4a;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  gap: 10px;
}

.categoryName {
  font-size: 18px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 1.5rem 3rem;
  border: 0.2rem solid #111d4a;
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
