.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdownContent a {
    display: block;
    padding: 8px 0;
    color: #333;
    text-decoration: none;
  }
  
  .dropdownContent a:hover {
    background-color: #ddd;
  }
  
  .dropdownContent a + a {
    margin-top: 8px;
  }