.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 15%;
  float: center;
}

.form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: aliceblue;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input[type="email"],
.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #111d4a;
  color: white;
  cursor: pointer;
}

.form button:hover {
  background-color: cadetblue;
}
