.inventoryTable {
  width: 1200px;
  margin-top: 5rem;
  margin-bottom: 50rem;
}

.inventoryTable button {
  margin-bottom: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.inventoryTable table {
  width: 100%;
  border-collapse: collapse;
}

.inventoryTable th,
.inventoryTable td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.inventoryTable th {
  text-align: left;
  background-color: #f2f2f2;
}

.inventoryTable .firstColumn {
  width: 5%;
}

.highlightedCell {
  animation: highlighted 1s infinite;
}

@keyframes highlighted {
  0% {
    boxshadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 10px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}
